---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Página no encontrada">
  <div class="h-[70vh] flex flex-col justify-center items-center p-5">
    <h1 class="text-[60px] md:text-[100px] text-center text-primary font-bold">
      No se ha podido encontrar la página.
    </h1>
    <p class="text-3xl text-center text-primary font-normal">
      Parece que no se ha encontrado nada en esta ubicación.
    </p>
  </div>
</Layout>
