---
import Layout from "../layouts/Layout.astro";
import CarouselSection from "@/components/CarouselSection.astro";
import Swiper from "@/components/Swiper.jsx";
import Counter from "@/components/Counter.astro";
import Parallax from "@/components/Parallax.astro";
import Brand from "@/components/Brand.astro";
import Contact from "@/components/Contact.astro";
import Whatsapp from "@/components/Whatsapp.astro";
---

<Layout title="Silvia Fernandez">
  <main>
    <CarouselSection />
    <Counter />
    <Parallax />
    <Swiper client:load />
    <Brand />
    <Contact />
    <Whatsapp />
  </main>
</Layout>
