---

---

<div
  class="slider max-w-[95%] sm:max-w-[80%] mx-auto landing-section"
  data-header-color="#0F7261"
>
  <div class="slide-track">
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
    <div class="slide">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png"
        alt=""
        class="scale-100"
      />
    </div>
  </div>
</div>

<style>
  img {
    width: 200px;
    height: 100px;
    animation: scroll 60s linear infinite;
    object-fit: contain;
  }
  .slide {
    min-width: 100px; /* Asegúrate de que los slides tengan un ancho mínimo */
  }
  .slide-track {
    display: flex;
    gap: 3em;
    overflow: hidden;
  }

  .slider {
    background-color: #ffffff;
    padding: 8em 2em;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translatex(-1000%);
    }
  }
</style>
