---
import Form from "./Form.astro";
---

<section
  class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-5 landing-section"
  data-header-color="#0F7261"
>
  <div id="contact" class="col-span-1 lg:col-span-2"><Form /></div>

  <div
    class="flex flex-col justify-center gap-5 col-span-1 lg:col-span-2 p-3 mt-6 landing-section"
    data-header-color="#0F7261"
  >
    <div class="flex flex-col justify-center mt-3">
      <h1
        class="text-3xl md:text-4xl lg:text-5xl text-primary font-bold text-center"
      >
        NUESTRAS OFICINAS
      </h1>
      <div class="flex flex-row mx-auto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="84"
          fill="none"
          class="scale-50"
          ><path
            fill="#0F7261"
            d="M30.063 40.147a10.441 10.441 0 1 1 0-20.882 10.441 10.441 0 0 1 0 20.882Zm0-39.676A29.235 29.235 0 0 0 .828 29.706C.828 51.633 30.063 84 30.063 84s29.235-32.367 29.235-54.294A29.235 29.235 0 0 0 30.063.471Z"
          ></path></svg
        >

        <p
          class="text-xl font-secondary text-primary font-medium text-center m-auto"
        >
          Calle 9 de Julio 64, B1870 <br />Avellaneda, Buenos Aires
        </p>
      </div>
    </div>
    <div class="h-[300px] md:h-[60%]">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209893.86832305888!2d-58.58107566833494!3d-34.71547711902209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3334effe1f7ff%3A0xe474f451b97cfe43!2sFernandez%20Silvia%20E!5e0!3m2!1ses!2sar!4v1717999230907!5m2!1ses!2sar"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
