---
// components/CounterUp.astro
const { dataVal, text } = Astro.props;
---

<span
  class="num text-7xl font-black text-center mx-auto text-primary"
  data-val={dataVal}></span>
<p class="text-xl font-medium text-center text-primary">{text}</p>
