---
import logo from "@/components/assets/SFfullcolor.png";
---

<footer class="p-10 font-secondary mx-auto max-w-7xl">
  <div class="container mx-auto">
    <div
      class="row superint flex flex-col md:flex-row gap-5 sm:justify-between mb-10"
    >
      <div class="m-auto md:border-r md:border-oscure px-3 lg:px-10 text-md">
        <h6 class="flex sm:flex-col" style="margin-bottom:0">
          N° de inscripción SSN:
        </h6>
        <p>Seguros Generales 726</p>
      </div>

      <div class="w-full md:w-[16%] text-center md:text-left m-auto text-sm">
        <h6>Departamento de Orientación y asistencia al Asegurado</h6>
      </div>
      <div
        class="text-primary m-auto md:border-r md:border-oscure p-3 lg:pr-10 text-xl"
      >
        <a href="tel:+08006668400">
          <h4>0800-666-8400</h4>
        </a>
      </div>

      <div class="font-medium text-primary m-auto text-xl">
        <a target="_blank" href="http://www.argentina.gob.ar/ssn">
          <h4>www.argentina.gob.ar/ssn</h4>
        </a>
      </div>
      <div class="text-right m-auto">
        <a
          href="http://www.argentina.gob.ar/ssn"
          target="_blank"
          title="Superintendencia de Seguros de la Nación"
        >
          <img
            loading="lazy"
            width="234"
            height="38"
            alt="SSN - Superintendencia de Seguros de la Nación"
            data-src="https://www.fedpat.com.ar/wp-content/themes/fedpat2017SEO/images/ssn-logo.png"
            class="text-center lazyloaded"
            src="https://www.fedpat.com.ar/wp-content/themes/fedpat2017SEO/images/ssn-logo.png"
          /><noscript
            ><img
              loading="lazy"
              width="234"
              height="38"
              src="https://www.fedpat.com.ar/wp-content/themes/fedpat2017SEO/images/ssn-logo.png"
              alt="SSN - Superintendencia de Seguros de la Nación"
              class="text-center"
            /></noscript
          >
        </a>
      </div>
    </div>

    <div class="row">
      <div class="flex flex-row justify-start items-center">
        <figure class="logo-fp-footer">
          <img
            loading="lazy"
            width="75"
            alt="Silvia Fernandez Seguros S.A."
            class="img-responsive lazyloaded"
            src=`${logo.src}`
          /><noscript
            ><img
              loading="lazy"
              width="71"
              height="46"
              src=`${logo.src}`
              alt="Silvia Fernandez Seguros S.A."
              class="img-responsive"
            /></noscript
          >
        </figure>
        <p class="copy mx-auto md:mx-0">
          Copyright © 2024 <br /> Silvia Fernandez Seguros
        </p>
      </div>
    </div>
  </div>

  <style></style>
</footer>
