---
import logo from "@/components/assets/SFslogan.png";
---

<nav class="bg-white landing-section" data-header-color="white">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img class="w-[200px] md:w-[250px]" src={logo.src} />
    </a>
    <button
      id="menu-toggle"
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Abrir menu</span>
      <svg
        class="w-5 h-5 text-primary"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto z-50" id="navbar-default">
      <ul
        class="font-black flex flex-col p-4 md:p-0 bg-white md:flex-row rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white text-center gap-32 md:gap-10 text-4xl md:text-lg h-screen md:h-auto justify-start mt-32 md:justify-center items-center"
      >
        <li class="text-primary hover:opacity-50 font-semibold">
          <a id="servicios-button" href="#servicios">SERVICIOS</a>
        </li>
        <li class="text-primary hover:opacity-50 font-semibold">
          <a id="nosotros-button" href="#nosotros">NOSOTROS</a>
        </li>
        <li
          class="text-white hover:text-primary font-semibold hover:animate-tada"
        >
          <a
            id="contact-button"
            class="py-3 pt-6 md:pt-4 px-8 bg-primary text-center hover:bg-white border border-secondary border-spacing-0 rounded-lg"
            href="#contact">CONTACTANOS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const navList = document.getElementById("navbar-default");
  const menuLinks = navList.querySelectorAll("a");

  menuToggle.addEventListener("click", () => {
    navList.classList.toggle("hidden");
  });

  menuLinks.forEach((link) => {
    link.addEventListener("click", () => {
      if (window.innerWidth < 768) {
        navList.classList.add("hidden");
      }
    });
  });

  document
    .getElementById("contact-button")
    .addEventListener("click", function (event) {
      event.preventDefault();
      document.getElementById("contact").scrollIntoView({ behavior: "smooth" });
    });
  document
    .getElementById("servicios-button")
    .addEventListener("click", function (event) {
      event.preventDefault();
      document
        .getElementById("servicios")
        .scrollIntoView({ behavior: "smooth" });
    });
  document
    .getElementById("nosotros-button")
    .addEventListener("click", function (event) {
      event.preventDefault();
      document
        .getElementById("nosotros")
        .scrollIntoView({ behavior: "smooth" });
    });
</script>
