<section class="landing-section" data-header-color="white">
  <div class="parallax fondo" id="m">
    <div class="texto-interior">
      <h2 id="m" class="hidden">Mecanismo de creación.</h2>
    </div>
  </div>
</section>

<style>
  .fondo {
    background-image: url("/src/components/assets/group.jpeg");
  }

  .parallax,
  .main,
  .texto {
    margin: 0 auto;
  }

  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 42rem;
    max-width: 100%;
    position: relative;
  }

  /* Deshabilitar parallax específicamente para iOS */
  @supports (-webkit-overflow-scrolling: touch) {
    .parallax {
      background-attachment: scroll;
    }
  }
</style>
