.carousel {
  height: auto;
  margin: 20px 0;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fondo1 {
  background-image: url("/src/components/assets/sillon.jpg");
}

.fondo2 {
  background-image: url("https://images.pexels.com/photos/8439655/pexels-photo-8439655.jpeg");
}
.fondo3 {
  background-image: url("https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.fondo4 {
  background-image: url("https://images.pexels.com/photos/3831552/pexels-photo-3831552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  max-width: 100%;
  position: relative;
}
